.category {
    text-align: left;
    display: grid;
    grid-template-areas:
    "logo title"
    "empty links";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 100px 1fr;
    background-color: rgb(57, 103, 149);
    color: white;
    border: 2px solid white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.category-logo {
    grid-area: logo
}

.category-title {
    grid-area: title
}

.category-title p {
    color: lightblue;
}

.category-subcategory {
    grid-area: links
}

.category-logo img {
    padding: 20px;
    max-width: 50px;
    max-height: 50px;
}

.category-subcategory img {
    max-width: 20px;
    max-height: 20px;
}

.category-subcategory a {
    color: white
}
