

#post-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 10px;
    width: 1180px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-bottom: 30px;
    
}

#post-header {
    margin-bottom: 10px;
}

#post-title {
    font-size: 20px;
    font-weight: bold;
    color: #EAEAEA;
}

#post-separator {
    border-top: 1px solid #444; /* Line between title and content */
    margin: 10px 0;
}

#post-body {
    font-size: 16px;
    color: #DDD;
    line-height: 1.5;
}

#post-footer-separator {
    border-top: 1px solid #555; /* Visible separation line at the bottom */
    margin-top: 20px;
    padding-top: 10px;
}
