div > .headerbar {
    margin-top: 20px;
}

.logo > img{
    height: 55px;
}
.logo {
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: auto;
     cursor: pointer;
}

.logo:hover {
    transform: scale(1.04);
}

  .nav-links {
    display: flex;
    gap: 20px;
    
}

  .nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.nav-links a:hover {
    color: rgb(211, 211, 211);
    transform: scale(1.04);
}

.profile-icon {
    margin-left: 500px;
    font-size: 20px;
    cursor: pointer;
}
.profile-icon:hover {
  transform: scale(1.1);
}

.profile-icon > img {
    height: 30px;

}

.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background: rgba(67, 64, 108);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    text-align: left;
  }
  
  .dropdown-menu.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  
  /* .dropdown-menu a {
    display: block;
    padding: 0.5rem 0;
    color: #333;
    text-decoration: none;
    transition: background-color 150ms ease-in-out;
  }
   */
  /* .dropdown-menu a:hover {
    background-color: #f0f0f0;
  } */

  .header-wrapper {
    position: relative;
    height: 270px; 
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .headerbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(187, 186, 186);
    z-index: 2; 
    position: relative;
    width: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; 
    background-size: cover;
    background-position: center;
    z-index: 1; 
    
  }

  .dropdown-menu > div {
    text-decoration: none;
    color: #D3D3D3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #24243e;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 10px;
    margin-top: 10px;
  }
  .dropdown-menu > div:hover {
    color: white; 
    background-color:  #2f2f52;
    box-shadow: 0 0 10px #0f0c29; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  .dropdown-menu > div:focus,
  .dropdown-menu > div:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .user-avatar {
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #D3D3D3;
}

