div > .headerbar {
    margin-top: 20px;
}

.logo > img{
    height: 55px;
}
.logo {
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: auto;
     cursor: pointer;
}

.logo:hover {
    transform: scale(1.04);
}

  .nav-links {
    display: flex;
    gap: 20px;
    
}

  .nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.nav-links a:hover {
    color: rgb(211, 211, 211);
    transform: scale(1.04);
}

.profile-icon {
    margin-left: 500px;
    font-size: 20px;
    cursor: pointer;
}
.profile-icon:hover {
  transform: scale(1.1);
}

.profile-icon > img {
    height: 30px;

}

.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    text-align: left;
  }
  
  .dropdown-menu.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  
  /* .dropdown-menu a {
    display: block;
    padding: 0.5rem 0;
    color: #333;
    text-decoration: none;
    transition: background-color 150ms ease-in-out;
  }
   */
  /* .dropdown-menu a:hover {
    background-color: #f0f0f0;
  } */

  .header-wrapper {
    position: relative;
    height: 270px; 
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .headerbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(57, 103, 149); 
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: 2; 
    position: relative;
    width: 1;
  }

  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; 
    background-size: cover;
    background-position: center;
    z-index: 1; 
    
  }

  .dropdown-menu > div {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
  }
  .dropdown-menu > div:hover {
    border-color: #646cff;
  }
  .dropdown-menu > div:focus,
  .dropdown-menu > div:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
  